/parser
text.txt
src/mauri/cookies/cookies.txt
venv
.vscode
src/mauri/__pycache__
src/mauri/logs/mauri.logs
src/mauri/models/__pycache__
src/mauri/parser/__pycache__
src/mauri/ui/__pycache__
src/mauri/utils/__pycache__
*.egg-info
html/response.html
tests/__pycache__
.pytest_cache